body
{
background-image: url(https://cdn.wallpapersafari.com/15/19/9bdWqY.jpg);
backgroung-size: cover;
}

li
{
 color:#D35F1B;
 list-style: none;
 display: inline-block;
 margin: 0px 20px;
}

h1
{
 text-align: center;
 border-bottom: 6px solid rgb(129, 228, 0);
 margin: 30px 0px 20px 0px;
}

.pic1
{
width:750;
height:500;
border: 3px solid red;
margin: 0px 0px;
padding: 0px 0px;
}

.pic2
{
float:right;
width:571;
height:300;
border: 3px solid red;
margin: 0px 0px;
padding: 0px 0px;
}


